In [2]:
pwd()

'E:\\ADB_Project\\github\\adb-jobs-analysis\\notebooks'

In [3]:
import os

In [4]:
import Levenshtein as lev
from fuzzywuzzy import fuzz

In [11]:
import pandas as pd
import numpy as np

In [ ]:
Str1 = "Back"
Str2 = "Book"
Ratio = fuzz.ratio(Str1.lower(),Str2.lower())
print(Ratio)

In [5]:
os.chdir(r"E:/ADB_Project/github/adb-jobs-analysis/src")

In [6]:
pwd()

'E:\\ADB_Project\\github\\adb-jobs-analysis\\src'

In [7]:
import ocr_extraction

In [ ]:
text = ocr_extraction.extract_bulk(r"E:/ADB_Project/data/cs_sample_ocr")

In [10]:
ocr_df = pd.DataFrame(text, columns=["vacancy_id", "file_path", "ocrd_text"])

In [16]:
ocr_df.head(3)

,vacancy_id,file_path,ocrd_text
0,590492,E:/ADB_Project/data/cs_sample_ocr/590492.jpg,Net Architect\n\n8+ years of Hands on experien...
1,600087,E:/ADB_Project/data/cs_sample_ocr/600087.png,\n\niOS DEVELOPER\n\nS.A. Knowledge Services ...
2,601828,E:/ADB_Project/data/cs_sample_ocr/601828.jpg,(M\n\nMOBIZZ\nWE UNDERSTAND\n= People\n]@ss Jo...

In [22]:
ocr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   vacancy_id  30 non-null     object
 1   file_path   30 non-null     object
 2   ocrd_text   30 non-null     object
dtypes: object(3)
memory usage: 848.0+ bytes

In [24]:
ocr_df["vacancy_id"] = pd.to_numeric(ocr_df.vacancy_id, downcast='integer')

In [17]:
tdf = pd.read_csv(r"E:/ADB_Project/github/adb-jobs-analysis/data/ImageTransrciptions.csv")

In [20]:
tdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   image_id          30 non-null     int64
 1   transcribed_text  30 non-null     object
dtypes: int64(1), object(1)
memory usage: 608.0+ bytes

In [18]:
tdf.head()

   image_id                                   transcribed_text
0    590492  We have opportunities for:\n.Net Architect\nRe...
1    600087  iOS DEVELOPER\nS. A. Knowledge Services (SAKS)...
2    601828  MOBIZZ\nWE UNDERSTAND\nRIGHT\nPeople\nJob Oppo...
3    601838  MOBIZZ\nWE UNDERSTAND\nRIGHT\nPeople\nJob Oppo...
4    602009  Senior Software Engineer - Java\nOur client wh...

In [21]:
tdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   image_id          30 non-null     int64
 1   transcribed_text  30 non-null     object
dtypes: int64(1), object(1)
memory usage: 608.0+ bytes

In [25]:
df = ocr_df.merge(tdf, left_on='vacancy_id', right_on='image_id')

In [26]:
df.head()

,vacancy_id,file_path,ocrd_text,image_id,transcribed_text
0,590492,E:/ADB_Project/data/cs_sample_ocr/590492.jpg,Net Architect\n\n8+ years of Hands on experien...,590492,We have opportunities for:\n.Net Architect\nRe...
1,600087,E:/ADB_Project/data/cs_sample_ocr/600087.png,\n\niOS DEVELOPER\n\nS.A. Knowledge Services ...,600087,iOS DEVELOPER\nS. A. Knowledge Services (SAKS)...
2,601828,E:/ADB_Project/data/cs_sample_ocr/601828.jpg,(M\n\nMOBIZZ\nWE UNDERSTAND\n= People\n]@ss Jo...,601828,MOBIZZ\nWE UNDERSTAND\nRIGHT\nPeople\nJob Oppo...
3,601838,E:/ADB_Project/data/cs_sample_ocr/601838.jpg,ps\n\nWE UNDERSTAND\n= People\n\n]@ss Job Oppo...,601838,MOBIZZ\nWE UNDERSTAND\nRIGHT\nPeople\nJob Oppo...
4,602009,E:/ADB_Project/data/cs_sample_ocr/602009.jpg,Senior Software Engineer - Java\n\nOur client ...,602009,Senior Software Engineer - Java\nOur client wh...

In [27]:
Str1 = "My name is Ali"
Str2 = "Ali is my name"
print(fuzz.token_sort_ratio(Str1,Str2))

100

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   vacancy_id        30 non-null     int32
 1   file_path         30 non-null     object
 2   ocrd_text         30 non-null     object
 3   image_id          30 non-null     int64
 4   transcribed_text  30 non-null     object
dtypes: int32(1), int64(1), object(3)
memory usage: 2.3+ KB

In [34]:
print(fuzz.token_sort_ratio(df["ocrd_text"][3], df["transcribed_text"][3]))

83

In [30]:
df["tsr"] = df.apply(lambda x: fuzz.token_sort_ratio(x["ocrd_text"], x["transcribed_text"]))

KeyError: 'ocrd_text'